@model DevGohel.Models.TData

@{
    ViewBag.Title = "Delete Information";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-start-admin">
    <div class="row">
        <div class="col-md-12">
            <h4>Are you sure want to remove this?</h4>
        </div>
        <div class="col-md-12">
            @using (Ajax.BeginForm("Delete", new AjaxOptions { }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.TopicId)
                @Html.HiddenFor(model => model.TdataId)
                @Html.HiddenFor(model => model.Created)
                <div class="alert-danger error-list">
                    <div id="errorD" style="padding:10px; margin-bottom:20px; display:none;">

                    </div>
                </div>
                <div class="form-group input-group input-group-lg" title="Enter Topic Name">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-copy"></i></span>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "ENTER NEW INFORMATION TITLE" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-control-feedback" })
                </div>
                <textarea id="Body" name="Body" class="form-control jqte-test" rows="15" type="text" placeholder="Write something about topic information">
                    @Model.Body
                </textarea>
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger form-control-feedback" })
                <div class="form-group text-right top-twenty">
                    <input id="submit" type="button" value="Delete" onclick="submitUniversal(this,'@Url.Action("Detail", "Topic", new { id = Model.TopicId })');" class="btn btn-danger" />
                    <a href="@Url.Action("Detail", "Topic", new { id = Model.TopicId})" class=" btn btn-default">
                        Back
                    </a>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/editor.js"></script>
}
